
body {
    font-family: Arial, sans-serif;
    margin: 1rem;
    padding: 2rem;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    min-width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #333;
    margin-bottom: 1rem;
}

.login-form {
    padding:0;
}

.username-input {
    margin-bottom: 10px;
    padding: 5px;
}

.login-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

/* Style for the chat app */
#chat-app {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
 
.send-message-form {
    display: flex;
    align-items: center;
}
  
  
.message-text {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
  
  
#send-message-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  
  
.information {
    display: flex;
  }
  
 
.user-list-container,
.chat-messages-container {
    flex: 1;
}
  
  
.user-list-container h2,
.chat-messages-container h2 {
    margin-bottom: 10px;
}

.users{
    list-style-type: none;
}
  
.chat-messages {
    flex: 1;
}
  

.chat-messages ol {
    list-style-type: none;
    padding: 0;
}
 
  
.logout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
  

.error {
    color: #dc3545;
    font-size: 16px;
    margin-top: 20px;
}