
.chat-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vh; 
}

.chat-header {
    background-color: #007bff;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

h1{
    padding:0;
    margin:0;
}
/* logout button */
.logout-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #333; /* Adjust color as needed */
    font-size: 16px; /* Adjust font size as needed */
}

.logout-btn:hover {
    color: #666; /* Adjust hover color as needed */
}

/* .logout-btn {
    padding: 10px 20px;
    background-color: #dc3545;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #c82333;
} */

/* userlist */
h2{
    margin:0;
    padding:0.5rem 0;
}
.users {
    list-style-type: none;
    padding: 0;
    margin: 0;
} 

.user {
    display: inline-block;
    border: 1px solid #fff9f9;
    border-radius: 10px;
    padding: 5px 8px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    background-color:rgb(243, 223, 233);
    line-height: 30px; 
}



/* Define styles for the active channel button */
.active-channel {
  background-color: #81afdd; /* Change background color */
  color: #fff; /* Change text color */
}

/* Additional styles for the channel buttons */
.channel {
  border: none; /* Remove button border */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.channel:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

/* chat message */
.chat-messages-container {
    background-color: #f8f9fa;
    padding: 10px 0px;
    height: 90vh; 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    overflow-y: auto;
}

.chat-messages {
    display: flex; 
    flex-direction: column-reverse;
    overflow-y: auto; 
    padding:0px;
}

.messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message{
    margin: 0px;
    padding: 10px;
    font-size: 16px;  
}

.sent {
    text-align: right;
    margin:0;
    margin-right:20px;
}
.sent .message-text {
    text-align: left; 
}
  
.received {
    text-align: left;
    margin:0;
    margin-left:20px;
}

.received .message-text {
    text-align: left; 
}
  
.sent .message-text,
.received .message-text {
    display: inline-block;
    background-color: #007bff; 
    margin:0;
    margin-bottom: 10px;
    color:white;
    border-radius: 5px;
    max-width: 70%; 
}
  
.received .message-text {
    background-color: #47e3a5; 
}

.sender {
    color:black;
    margin:0px;
    margin-bottom: 3px; 
}




/* send message section */
.send-message {
    padding: 20px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.send-message-form {
    display: flex;
    flex: 1;
}

.message-text {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.send-message-btn {
    padding: 10px 20px;
    margin-left: 5px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-message-btn:hover {
    background-color: #0056b3;
}


